html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
body {
    background-color:#1B1B1B;
    color:#121212; 
    font:1em 'Roboto Condensed', sans-serif;
    font-weight: 400; 
}
header, section, footer, nav, aside, main, article, figure {
    display: block; 
}
#wrap{}
.wrapper{
    max-width: 1200px;
    min-width:960px;
    margin: 0 auto;
}
header {
    margin-top: 10px;
    width: 100%;
    background-color: rgba(200,200,200,0.8);
}
footer {
    margin:0;
    padding:20px 0 15px 0;
    background-color:#1B1B1B;
}
#site {
    margin:0 auto;
    margin-bottom:20px;
    background-image: linear-gradient(rgba(200,200,200,0.7),#c8c8c8);
    z-index:1;
}
.content {
    padding:20px;
}
div.contact {
    display: inline-block;
    float: right;
}
h1 {
    font-size: 1.3em;
    color: #121212;
    font-weight: 700; 
    text-transform: uppercase;
    vertical-align: top;
    display: inline-block;
    padding: 6px 0;
    margin: 0;
}
h2 {
    color:#121212;
    font-size:1.3em;
    font-weight: 700; 
    padding: 15px 0 2px 0;
    text-align: center;
    border-bottom: 1px solid #2f343f;
}
h3 {
    color:#121212;
    font-size:1.2em;
    font-weight: 700; 
    padding-top:15px;
}
strong, b {
    color:#121212;
}
a:link, a:active, a:visited {
    color:#0f61a0; 
    text-decoration:none;
    font-weight:bold;
}
a:hover {
    color:#2f343f; 
    text-decoration:underline;
    font-weight:bold;
}
p.center {
    text-align:center;
}
td {
    vertical-align: top;
    padding-bottom: 10px;
}
.sign {
    background-image: url("../images/purr.png");
    background-repeat: no-repeat;
    background-position: top right;
    max-width: 1200px;
    min-width:960px;
    height: 218px;
    margin: auto;
}
a:link.contact,a:visited.contact,a:hover.contact,a:active.contact {
    font-weight:bold;
    text-transform:uppercase;
    color:#121212;
    text-decoration:none;
}
.contact img {
    width: 30px;
    height: 30px;
    padding-top: 2px;
}
.personal {
    color:#c8c8c8;
    text-align:center;
}
.personal p {
    margin: 0 0 5px 0;
    font-weight: 700;
}
.personal a:link, .personal a:active, .personal a:hover, .personal a:visited {
    color:#c8c8c8;
    text-decoration:none;
} 
@-webkit-keyframes headerFadeInOut {
    0% {
        opacity:1;
    }
    20% {
        opacity:1;
    }
    33% {
        opacity:0;
    }
    87% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes headerFadeInOut {
    0% {
        opacity:1;
    }
    20% {
        opacity:1;
    }
    33% {
        opacity:0;
    }
    87% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes headerFadeInOut {
    0% {
        opacity:1;
    }
    20% {
        opacity:1;
    }
    33% {
        opacity:0;
    }
    87% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes headerFadeInOut {
    0% {
        opacity:1;
    }
    20% {
        opacity:1;
    }
    33% {
        opacity:0;
    }
    87% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.backgroundWrapper {
    margin:0;
    height:450px;
    position:absolute;
    top:0; left: 0;
    z-index:-1;
    width:100%;
}
.backgroundImg {
    background-size: cover;
}

.backgroundImg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(27,27,27,0.3),rgba(27,27,27,1));
}

#background {
    position:relative;
    height:500px;
    width: 100%;
    margin:0 auto;
}
#background div.backgroundImg {
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
}

#background div.backgroundImg {
    -webkit-animation-name: headerFadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 39s;

    -moz-animation-name: headerFadeInOut;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 39s;

    -o-animation-name: headerFadeInOut;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: 39s;

    animation-name: headerFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 39s;
}

#background div.backgroundImg:nth-of-type(1) {
    -webkit-animation-delay: 26s;
    -moz-animation-delay: 26s;
    -o-animation-delay: 26s;
    animation-delay: 26s;
}
#background div.backgroundImg:nth-of-type(2) {
    -webkit-animation-delay: 13s;
    -moz-animation-delay: 13s;
    -o-animation-delay: 13s;
    animation-delay: 13s;
}
#background div.backgroundImg:nth-of-type(3) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

/* Gallery */

.gallery {
    text-align: center;
}
.gallery figure {
    position: relative;
    overflow: hidden;
    margin: 5px;
    width: 210px;
    text-align: center;
    display: inline-block;
}
.gallery figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
}
.gallery figure figcaption {
    /*padding: 2em;*/
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.gallery figure figcaption::before,
.gallery figure figcaption::after {
    pointer-events: none;
}
.gallery figure figcaption,
.gallery figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
figure.effect {
    background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}
figure.effect img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.effect figcaption {
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}
figure.effect figcaption::before {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid #fff;
    content: '';
}
figure.effect h2 {
    margin: 10px;
    color: #fff;
    border-bottom: 1px solid #FFF;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
figure.effect figcaption::before,
figure.effect p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}
figure.effect:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.effect:hover figcaption::before,
figure.effect:hover p, figure.effect:hover h2 {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
figure.effect:hover figcaption {
    background-color: rgba(58,52,42,0);
}
figure.effect:hover img {
    opacity: 0.4;
}